<% include header %>
<% include menu %>
    <div class="container">
      <h1 style="display: inline-block;">FormDesigner</h1>
      <button style="display: inline-block;" id="export-html" class="btn btn-primary">Export Html</button>
      <button style="display: inline-block;" id="export" class="btn btn-primary">Export</button>
      <button style="display: inline-block;" id="import" class="btn btn-primary">Import</button>
      <form class="form-horizontal content-designer" role="form">
      </form>
    </div>

    <div class="container">
      <h1 style="display: inline-block;">TableDesigner</h1>
      <button style="display: inline-block;" id="export-html" class="btn btn-primary">Choose Field</button>
      <button style="display: inline-block;" id="export-html" class="btn btn-primary">Export Html</button>
      <button style="display: inline-block;" id="export" class="btn btn-primary">Export</button>
      <button style="display: inline-block;" id="import" class="btn btn-primary">Import</button>
      <div class="row">
        <div class="col-md-12 table-designer">
          <table class="table">
            <thead>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="footer">
      <div class="container action-designer">
        <button class="btn btn-default edit-button control">Edit</button>
      </div>
    </div>
    <div class="toolbox"></div>
<% include footer %>
